#u9803-2
{
	font-family: open-sans-i3, sans-serif;
}

#u12236-10,#u12236-11
{
	font-family: open-sans-i6, sans-serif;
}

#u10190,#u10201-2,#u10201-3,#u12236-3,#u12236-14,#u12236-54
{
	font-family: open-sans-n7, sans-serif;
}

#u10205-5,#u10205-16,#u10205-19,#u10205-22,#u10205-25,#u10205-28,#u10205-36,#u10205-39,#u10205-47,#u10205-50,#u10205-56,#u10205-68,#u10205-71,#u10205-74,#u10205-77,#u10205-80,#u12236-16,#u12236-26,#u12236-36,#u12236-44,#u12236-56,#u12236-61,#u12236-66,#u12236-70,#u12236-74,#u12236-83
{
	font-family: open-sans-n8, sans-serif;
}

#u10116-4,#u10190-5,#u10195-6,#u10204-2,#u10204-3,#u10205-2,#u10205-3,#u12236-4,#u12236-12,#u12236-15,#u12236-24,#u12236-25,#u12236-34,#u12236-35,#u12236-42,#u12236-43,#u12236-50,#u12236-51,#u12236-52,#u12236-55,#u12236-59,#u12236-60,#u12236-64,#u12236-65,#u12236-68,#u12236-69,#u12236-72,#u12236-73,#u12236-81,#u12236-82,#u12236-85,#u12236-86,#u11455-4
{
	font-family: open-sans-n4, sans-serif;
}

#u10146-2,#u10201-4,#u10201-6,#u10201-10,#u10201-11,#u10201-13,#u10201-14,#u10201-15,#u10201-16,#u10201-18,#u10201-20,#u10201-21,#u10201-22,#u10201-23,#u10201-24,#u10201-25,#u10201-26,#u10201-27,#u10201-29,#u10201-30,#u10201-31,#u10201-32,#u10201-33,#u10201-34,#u10201-35,#u10201-37,#u10201-39,#u10201-40,#u10201-41,#u10201-42,#u10201-44,#u10201-45,#u10201-46,#u10201-47,#u10201-48,#u10201-49,#u10201-50,#u10201-52,#u10211,#u10211-3,#u10214,#u10210,#u10210-3
{
	font-family: open-sans-n6, sans-serif;
}

#u10116-5,#u10116-8,#u10146-6,#u10147-4,#u10195-7,#u10195-9,#u10204-4,#u10204-10,#u10204-11,#u10204-12,#u10204-13,#u10204-14,#u10204-20,#u10204-21,#u10204-22,#u10204-23,#u10204-24,#u10204-25,#u10204-26,#u10204-34,#u10204-35,#u10204-36,#u10204-37,#u10204-41,#u10204-42,#u10204-43,#u10204-44,#u10204-50,#u10204-51,#u10204-52,#u10204-53,#u10204-54,#u10204-60,#u10205-4,#u10205-9,#u10205-10,#u10205-11,#u10205-12,#u10205-13,#u10205-14,#u10205-15,#u10205-18,#u10205-21,#u10205-24,#u10205-27,#u10205-30,#u10205-32,#u10205-33,#u10205-34,#u10205-35,#u10205-38,#u10205-41,#u10205-42,#u10205-43,#u10205-44,#u10205-45,#u10205-46,#u10205-49,#u10205-52,#u10205-53,#u10205-54,#u10205-55,#u10205-64,#u10205-65,#u10205-66,#u10205-67,#u10205-70,#u10205-73,#u10205-76,#u10205-79,#u10205-82,#u10205-84,#u9801-5,#u9803-5,#u11455-5,#u11455-7,#u10211-21,#u10211-4,#u10214-17,#u10210-20,#u10210-5
{
	font-family: open-sans-n3, sans-serif;
}

